@media screen and (min-width: 1899px) {
.banner_cnt{width: 640px}
}
@media screen and (max-width: 1799px) {
	.banner_cnt {width: 650px;margin-top: 96px;}
}
@media screen and (max-width: 1599px) {
	.banner_cnt {	width: 607px;	margin-top: 66px;}
	.inner_banner .banner_cnt {	width: 550px;}
}
@media screen and (max-width: 1365px) {
	.banner_cnt {	width: 547px;}
	.inner_banner .banner_cnt {	width: 514px;}
}

@media screen and (max-width: 1199px) {
.container{width:1000px;}
.desk-nav ul li {	margin: 0 0 0 20px;}
.desk-nav ul li a {font-size: 13px;padding: 15px 0;}
.desk-nav ul li ul li a {	padding: 10px 0px 0 10px;}
#banner li {	background-size: 100% auto;}
.banner_text {	font-size: 37px;	margin-bottom: 30px;}
.banner_cnt {	margin-top: 29px;}
.banner_link {margin-bottom: 12px;}
.banner_btm_link a {	padding: 10px 34px 10px 18px;	font-size: 16px;}
.banner_btm_sec {	padding: 20px 0 25px;	margin-bottom: 70px;}
.banner_btm_sec h2 {	font-size: 24px;width: 650px;}
.video_sec {	margin-bottom: 60px;}
.video_lft {	float: left;	width: 514px;}
.video iframe{width: 100% !important}
.video_rgt {	width: 430px;}
.video_rgt h3 {font-size: 28px;	margin-bottom: 17px;}
.home_middle_bottom_sec::after {	right: -410px;background-size: 1000px 100%;}
.middle_left {	padding: 35px 0 19px 0;	width: 594px;}
.middle_rgt {	width: 397px;}
.middle_rgt figure {	top: -38px;	width: 54%;left: 13px;}
.middle_left h3 {	font-size: 28px;}
.middle_left h5 {	font-size: 19px;	margin-bottom: 20px;}
.home_middle_bottom_sec h4 {padding-left: 0;}
.home_middle_sec {	margin-bottom: 55px;}
.title span::before {	left: 170px;}
.title span::after {	right: 170px;}
.title {	font-size: 27px;	margin-bottom: 25px;}
#testimonial {	padding: 0 85px;}
.testimonial_txt {	margin-bottom: 25px;	padding-top: 35px;}
#testimonial .owl-dots{margin-top: 30px;}
.testimonial_sec {margin-bottom: 50px;}
.home_btm_left {	width: 570px;	padding: 20px;}
.home_btm_rgt {	width: 390px;	padding: 20px;}
.desk-nav ul li:nth-child(7n) ul{left:auto;right: 0;}
.home_btm_sec h2 {	font-size: 24px;	margin-bottom: 15px;}
.home_btm_sec .content p {margin-bottom: 16px;}
.home_btm_rgt figure span {	width: 90px;}
.home_btm_sec .content {	font-size: 14px;}
.home_btm_rgt .content {margin-top: 12px;}
.home_btm_rgt .content p{margin-bottom: 0;}
.footer_inner {	padding: 35px 0;}
.clmn_1.column {	width: 95px;}
.column {	margin-right: 42px;}
.clmn_3.column {width: 183px;}
.clmn_4.column {	width: 180px;}
.clmn_5.column {	width: 115px;}
.footer_top {margin-bottom: 30px;}
.footer_top h4 {	margin-bottom: 20px;}
.inner_banner {	background-size: 100% auto;}
.inner_banner .banner_cnt {width: 634px;	margin-top: 56px;}
.inner_image_sec {	margin-bottom: 25px;}
.breadcrumbs {	margin-bottom: 25px;}
.left_sec {	width: 222px;}
.rgt_sec {	width: 750px;}
.left_video_sec {	width: 295px;    margin-right: 21px;}
.rgt_video_sec {width: 434px;}
.btm_left{	width: 222px;}
.rgt_video_sec .video iframe {height: 228px;}
.rgt_sec .left_video_sec p {	margin-bottom: 15px;}
.rgt_sec {	font-size: 14px;	line-height: 24px;}
.inner_video_sec{margin-bottom: 28px;}
.rgt_sec p {	margin-bottom: 15px;}
.btm_cnt ul {	margin-bottom: 10px;}
.rgt_sec h2 {	margin-bottom: 15px;}
.inner_page {	margin-bottom: 30px;}
.international-right{width: 500px;}
.btm_cnt p {	margin-bottom: 15px;}
.contact-sec{width: 500px;}
.contact-details{width:400px;}
.banner-5 .banner_cnt{float:right;}
.banner_cnt{width:465px;}
}

@media screen and (max-width: 1023px) {
.container{width:750px;}
.desk-nav{display: none;}
.mob-nav {display: block;    width: 20px;height: 14px;overflow: hidden;float: left;margin: 27px 0px 0 0;}
.menu-btn {width: 20px;height: 14px;float: left;background: url(../images/menu.png) no-repeat center;}
.mm-menu{background: #fff !important}
.mm-navbars_top{background: #ae3148 !important;}
.mm-menu .mm-btn::after, .mm-menu .mm-btn::before {border-color: #fff !important;}
.mm-listitem a:hover{color: #ae3148 !important }
#banner li {    background-size: cover;    background-repeat: no-repeat;    height: 210px;}
.banner_cnt {	margin-top: 15px;width: 400px;}
.banner_text {	font-size: 29px;	margin-bottom: 42px;}
.banner_btm_sec {	padding: 10px 0 15px;	margin-bottom: 40px;}
.banner_btm_sec h2 {	font-size: 21px;line-height: 30px;}
.video_sec {	margin-bottom: 40px;}
.video_lft {	float: left;	width: 50%;}
.video_rgt {	width: 46%;}
.video_rgt h3 {	font-size: 23px;	margin-bottom: 15px;}
.video_rgt .video_txt p {	font-size: 14px;	line-height: 22px;	margin-bottom: 15px;}
.middle_rgt figure {	top: -28px;	width: 54%;	left: 27px;}
.middle_left {	padding:18px 0 11px 0;	width: 400px;}
.middle_rgt {	width: 350px;}
.middle_left h3 {	font-size: 25px;margin-bottom: 12px;}
.middle_left h5 {	font-size: 17px;	margin-bottom: 20px;}
.middle_left ul li {	font-size: 14px;	line-height: 24px;	margin-bottom: 5px;}
.home_middle_bottom_sec {	padding: 10px 0 13px;}
.home_middle_bottom_sec::after {right: -442px;}
.home_middle_sec {	margin-bottom: 35px;}
.title span::before {	left: 140px;width: 119px;}
.title span::after {	right: 140px;width: 119px;}
.testimonial_txt {	margin-bottom: 14px;	padding-top: 30px;font-size: 15px;line-height: 27px;}
#testimonial .owl-dots {	margin-top: 12px;}
#testimonial .owl-dot {	margin-right: 10px;}
.testimonial_sec {	margin-bottom: 40px;}
.home_btm_left {	width: 410px;}
.home_btm_rgt {	width: 320px;}
.home_btm_sec h2 {	font-size: 22px;	margin-bottom: 10px;}
.home_btm_sec .content {	font-size: 13px;}
.home_btm_sec .content p {	margin-bottom: 10px;}
.home_btm_rgt .content {	margin-top: 25px;}
.home_btm_rgt h2 {	margin-bottom: 20px;}
.home_inner {	margin-bottom: 34px;}
.clmn_5.column {	clear: left;margin-top: 20px;}
.clmn_6.column {	margin-top: 20px;}
.footer_top {	margin-bottom: 25px;}
.bbb_logo {	margin-right: 56px;}
.footer_btm {	margin-bottom: 24px;}
.footer_inner {	padding: 25px 0;}
.column li {	margin-bottom: 5px;}
.banner_btm_link a {	padding: 7px 25px 6px 10px;	font-size: 15px;}
.banner_btm_link a::after {	top: 39%;	right: 12px;}
header.sticky .header_top {    display: block;padding: 5px 0;}
header.sticky .header_top img{width: 75%;}
.mm-menu_offcanvas.mm-menu_opened {    display: block !important;}
.banner_text::after {	top: 32px;}
.banner_text::before {	top: -3px;}
.inner_banner {    background-size: cover;    background-repeat: no-repeat;    background-position: 30% center;height: 210px;}
.left_sec {width: 205px;}
.top_left {	padding: 10px 10px 10px;}
.heading {	font-size: 18px;	margin-bottom:10px;}
.rgt_sec {	width: 510px;}
.top_left a {	font-size: 13px;	line-height: 22px;}
.btm_left {	width: 205px;}
.rgt_sec h1 {	margin-bottom: 15px;	font-size: 26px;}
.left_video_sec {	width: 100%;margin-right: 0;}
.rgt_video_sec {float: left;margin-top: 10px;}
.rgt_video_sec .video iframe {	height: 277px;}
.rgt_sec p {	margin-bottom: 10px;}
.btm_cnt ul {	margin-bottom: 5px;}
.rgt_sec h2 {	margin-bottom: 10px;}
.inner_banner .banner_cnt {	width: 464px;}
.table-area .image {	width: 127px;}
.international-left{width:100%;text-align: center;}
.international-right{width: 100%;text-align: center;}
.btm_cnt h1{margin-bottom: 15px;font-size: 26px;}
.btm_cnt p{	margin-bottom: 10px;}
.contact-sec {

    width: 400px;

}
.contact-details {

    width: 300px;

}
.field-rgt textarea{height:130px;}
}


@media screen and (max-width: 767px) {
.container{width:620px;}
.banner_cnt {	width: 387px;}
.banner_btm_link a {	padding: 7px 28px 7px 11px;	font-size: 14px;}
.banner_btm_link a::after {	top: 37%;	right: 11px;}
.banner_text {	font-size: 27px;	margin-bottom:38px;}
.banner_btm_sec h2 {	font-size: 19px;	line-height: 30px;width: 580px;}
.video_lft {	width: 100%;	margin-bottom: 20px;}
.video {padding:10px;	-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.55);	-moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.55);	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.55);	width: 100%;}
.video_rgt {width: 100%;}
.video_rgt h3 {	font-size: 28px;}
.video_sec {	margin-bottom: 30px;}
.middle_left {	padding: 18px 0 11px 0;width: 350px;}
.middle_rgt figure {	width: 69%;}
.middle_rgt {	width: 270px;}
.home_middle_bottom_sec::after {background-size: 620px 100%;right: -562px;}
.home_middle_bottom_sec h4 {	font-size: 17px;}
.title {	font-size: 25px;	margin-bottom: 18px;}
.home_middle_sec {	margin-bottom: 25px;}
.title span::before {	left: 98px;	width: 100px;}
.title span::after {	right: 98px;	width: 100px;}
#testimonial {	padding: 0 35px;}
.home_btm_left {	width: 100%;}
.home_btm_rgt {	width: 100%;	margin-top: 20px;}
.home_btm_sec h2 {	font-size: 24px;	margin-bottom: 14px;}
#banner li {	height: 200px;}
.home_btm_rgt .content {	margin-top: 15px;}
.clmn_5.column {	clear: none;}
.clmn_3.column {	width: 183px;}
.column {	margin-right: 32px;}
.clmn_4.column {width: 120px;margin-right: 0;}
.copyright p {	font-size: 11px;}
footer::before {	height: 20px;}
.footer_inner {	padding: 20px 0;}
.home_btm_rgt .content p{margin-bottom: 0;}
.inner_banner {	height: 200px;}
.inner_banner .banner_cnt {	width: 384px;	margin-top: 68px;	line-height: 31px;overflow: hidden;}
.left_sec {	width: 100%;}
.left_sec .heading{cursor: pointer;}
.rgt_sec {width: 100%;}
.heading.desktop{display: none;}
.heading.mobile{display: block;padding: 10px;margin: 0;background: #ae3148;color: #fff;-webkit-transition: background-color 0.8s ease-out;  -moz-transition: background-color 0.8s ease-out;  -o-transition: background-color 0.8s ease-out;  transition: background-color 0.8s ease-out;position: relative;text-align: left;}
.heading.mobile:after{position: absolute;content: '';background: url(../images/dropdown.png) center center no-repeat; right: 0;top: 4px;background-size: 48%;width: 57px;height: 34px; -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;  }
.heading.mobile.open:after{ transform: rotate(180deg);}
.top_left ul{padding: 0 10px 10px;box-sizing: border-box;}
.top_left {	padding: 0;border:none;}
header.sticky .mob-nav{margin: 19px 0px 0 0;}
.rgt_sec h1 {	margin-top: 20px;font-size: 24px;}
.btm_left {	width: 100%;}
.btm_left .heading{text-align: center;}
.btm_left .testimonial_txt p {	text-align: center;}
.btm_left .client_name {	text-align: center;}
.btm_left .testimonial_txt {	font-size: 14px;	line-height: 22px;}
.btm_left .client_name p {	font-size: 14px;	line-height: 20px;}
.btm_left .testimonial_txt::before {	left: 50%;}
.inner_page .left_sec ul{display: none;}
.inner_page .rgt_sec ul li {	margin-bottom: 7px;}
.btm_left .heading {	font-size: 22px;}
.inner_video_sec{text-align: center;}
.left_video_sec{text-align: left;}
.rgt_video_sec {float: none;display: inline-block;}
.table-area .image {	width: 150px;}
.table-area .image a{text-align: center;}
.btm_cnt h1{margin-top: 20px;font-size: 24px;}
.btm_cnt p{	margin-bottom: 15px;}
.contact-sec{width:100%;margin-bottom: 30px;}
.contact-details {

    width: 100%;

}

}
@media screen and (max-width: 639px) {
.container{width:548px;}
.banner_text {	font-size: 24px;	margin-left: 30px;	line-height: 28px;margin-bottom: 28px;}
#banner li {	height: 180px;}
.banner_btm_link a {	padding: 4px 21px 5px 10px;	font-size: 13px;}
.banner_btm_link a::after {	top: 35%;	right: 7px;}
.banner_btm_sec {	padding: 8px 0 10px;	margin-bottom: 30px;}
.banner_btm_sec h2 {	font-size: 18px;	line-height: 25px;	width: 100%;}
.video_rgt h3 {	font-size: 26px;}
.middle_left {	padding: 14px 0 9px 0;	width: 330px;}
.middle_rgt figure {	width: 90%;left: -21px;}
.middle_rgt {	width: 190px;}
.middle_left h5 {	font-size: 15px;	margin-bottom: 15px;}
.middle_left h3 {	font-size: 22px;	margin-bottom: 10px;}
.middle_left ul li::before {	top: 8px;}
.middle_left ul li {font-size: 13px;	margin-bottom: 3px;}
.title {	font-size: 23px;}
.title span::before {	left: 68px;}
.title span::after {	right: 68px;}
#testimonial {padding: 0 25px;}
.testimonial_txt {	margin-bottom: 14px;}
.testimonial_sec {margin-bottom: 30px;}
.clmn_4.column {margin-right: 50px;margin-top: 20px;}
.column {    margin-right: 51px;}
.bbb_logo {margin-right: 35px;}
.copyright p {font-size: 10px;}
header.sticky .mob-nav {	margin: 18px 0px 0 0;}
.header_top .logo img{width: 85%;}
.inner_banner{	height: 180px;}
.inner_banner .banner_cnt {margin-top: 50px;}
.inner_image_sec {	margin-bottom: 20px;}
.rgt_sec {	font-size: 13px;	line-height: 22px;}
.rgt_sec h2 {	font-size: 16px;}
.inner_page .rgt_sec ul li::before {	top: 8px;}
.inner_page .rgt_sec ul li {	margin-bottom: 5px;}
.table-area .image {	width: 130px;}

}
@media screen and (max-width: 567px) {
.container{width:400px;}
.banner_cnt {	width: 100%;}
.banner_text {	font-size: 19px;	margin-left: 150px;	line-height: 24px;	margin-bottom: 28px;}
.banner_btm_link a {	padding: 3px 21px 3px 10px;	font-size: 12px;}
.banner_btm_link a::after {	top: 31%;	right: 6px;	background-size: 78%;}
#banner li {	height: 170px;}
.banner_btm_sec h2 {	font-size: 15px;	line-height: 22px;}
.banner_btm_sec {	padding: 8px 0 8px;	margin-bottom: 25px;}
.video iframe {    height: 213px;}
.video_rgt h3 {	font-size: 22px;}
.video_sec {    margin-bottom: 25px;}
.middle_left h5 {	font-size: 14px;	margin-bottom: 10px;}
.middle_left h3 {	font-size: 20px;}
.title span::after {	right: 58px;width: 60px;}
.title span::before {	left: 58px;width: 60px;}
.title {	font-size: 18px;line-height: 25px;}
#testimonial {padding: 0 0px;}
.client_name p {	font-size: 13px;	line-height: 21px;}
.testimonial_txt {	margin-bottom: 10px;font-size: 14px;}
.testimonial_txt::before {	background-size: 75%;}
.client_name h4 {	font-size: 14px;}
.testimonial_sec {margin-bottom: 25px;}
.home_btm_sec h2 {	font-size: 20px;	margin-bottom: 9px;}
.home_btm_left {	padding: 15px;}
.home_btm_rgt {	padding: 15px;}
.clmn_1.column,.clmn_2.column,.clmn_3.column,.clmn_4.column,.clmn_5.column,.clmn_6.column {	width: 50%;}
.column {    margin-right: 0;}
.clmn_3.column {	margin-top: 20px;	clear: left;}
.clmn_4.column {	margin-top: 20px;margin-right: 0}
.clmn_5.column {	clear: left;}
.bbb_logo {margin-right: 14px;width: 56%;}
.copyright p {	line-height: 21px;}
.middle_rgt {	display: none;}
.middle_left {	width: 100%;}
.home_middle_bottom_sec::after {	background-size: 490px 100%;	right: -742px;}
.home_middle_bottom_sec h4 {font-size: 16px;}
.inner_banner{	height: 170px;}
.inner_banner .banner_cnt {	margin-top: 48px;width: 364px;}
.inner_image_sec {	margin-bottom: 15px;}
.breadcrumbs {	margin-bottom: 15px;}
.heading {	font-size: 16px;}
.heading.mobile::after{top: 0;background-size: 33%;}
.rgt_sec h1 {	margin-top: 15px;	font-size: 20px;}
.rgt_video_sec {	margin-top: 0;}
.rgt_video_sec .video iframe {	height: 207px;}
.inner_video_sec {	margin-bottom: 19px;}
.inner_banner .banner_cnt {	overflow: hidden;}
.rgt_video_sec {    width: 100%;}
.table-area .image:nth-child(3n+1) {	clear: left;}
.table-area .image:nth-child(4n+1) {	clear: none;}
.team_img {	float: left;	padding: 0 0px 10px 0;	width: 100%;	text-align: center;}
.btm_cnt h1{margin-top: 15px;font-size: 20px;}
.btm_cnt p{	margin-bottom: 15px;}
}
@media screen and (max-width: 413px) {
.container{width:300px;}
.banner_cnt {	margin-top: 6px;}
.banner_text {	font-size: 16px;margin-left:106px;		line-height: 21px;	margin-bottom: 28px;}

.banner-2 .banner_text{margin-left:0;}
.banner-4 .banner_text{margin-left:0;}

.banner_btm_link a {	padding: 3px 15px 3px 7px;	font-size: 11px;}
#banner li {	height: 140px;}
.banner_btm_sec h2 {	font-size: 13px;	line-height: 20px;}
.banner_btm_sec {	padding: 5px 0 5px;	margin-bottom: 20px;}
.video iframe {	height: 153px;}
.header_top .logo {		margin-left: -20px;}
.header_top .logo img {	width: 75%;}
.mob-nav {	margin: 17px 0px 0 0;}
.banner_btm_link a::after {	top: 30%;	right: 3px;}
.video_rgt h3 {	font-size: 18px;	margin-bottom: 11px;}
.video_rgt .video_txt p {	font-size: 13px;	line-height: 21px;	margin-bottom: 10px;}
.video_sec {	margin-bottom: 20px;}
.middle_left ul li {	font-size: 12px;	margin-bottom: 3px;}
.middle_left h5 {	font-size: 13px;}
.middle_left h3 {	font-size: 18px;}
.home_middle_bottom_sec {	padding: 7px 0 10px;}
.home_middle_bottom_sec h4 {	font-size: 14px;}
.home_middle_sec {	margin-bottom: 20px;}
.title span::before {	left: 28px;	width: 50px;}
.title {	font-size: 16px;	line-height: 21px;}
.title span::after {	right: 28px;	width: 50px;}
.testimonial_txt {line-height: 23px;	font-size: 13px;}
.testimonial_txt::before {	right: 135px;}
.home_btm_sec h2 {	font-size: 18px;}
.column {	margin-right: 10px;}
.clmn_1.column, .clmn_2.column, .clmn_3.column, .clmn_4.column, .clmn_5.column, .clmn_6.column {width: 48%;}
.column:nth-child(2n){margin-right:0;}
.footer_top h4 {	margin-bottom: 10px;font-size: 12px;line-height: 20px;}
.column a {	font-size: 12px;	line-height: 24px;}
.bbb_logo {	margin-right: 10px;	width: 48%;}
.social_sec li {	margin-left: 5px;}
.copyright p {	line-height: 19px;}
.footer_btm {	margin-bottom: 20px;}
.footer_top {	margin-bottom: 15px;}
.footer_inner {	padding: 10px 0;}
header.sticky .header_top img {	width: 65%;}
header.sticky .mob-nav {	margin: 13px 0px 0 0;}
.inner_banner{	height: 140px;}
.inner_banner .banner_cnt{width: 100%;}
.inner_banner .banner_text{margin-left: 112px;}
.heading {	font-size: 15px;}
].rgt_sec h1 {	margin-top: 15px;}
.rgt_video_sec .video iframe {	height: 157px;}
.rgt_sec h2 {	font-size: 14px;}
.btm_left .heading {	font-size: 20px;}
.inner_page .rgt_sec ul li::before {	top: 10px;}
.table-area .image:nth-child(2n+1) {	clear: left;}
.table-area .image:nth-child(3n+1) {	clear: none;}
.table-area .image {	width: 50%;}
.g-recaptcha {
  transform:scale(0.80);
  -webkit-transform: scale(0.80);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}
}
