html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0; font-family: 'Poppins', sans-serif;}
input:focus{border:none; outline:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default; font-family: 'Poppins', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Poppins', sans-serif;}
textarea:focus{ outline:none;}
a, input, img, button{-webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}

h1,h2,h3,h4,h5,h6 {font-weight:400; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
img {max-width: 100%;height: auto; width: auto\9; /* ie8 */border:none;}
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div, ul, li, a, ol, p, span, figure, section, input, textarea{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-family:'Open Sans', sans-serif;font-size:16px; font-weight:400; margin:0px; padding:0px; text-align:center; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; line-height:1;}
#wrapper{ width:100%; float:left; background: #fff;}
.container{width:1170px; margin:0px auto;} 
header{float: left;width: 100%;}
.header_top{float: left;width: 100%;padding: 9px 0;box-sizing: border-box}
.header_top .logo{float: none;display: inline-block;vertical-align: top;}
.desk-nav{float: left;width: 100%;}
.desk-nav ul li.current-menu-item a {color: red;}
.desk-nav ul{float:left;width: 100%;box-sizing: border-box;}
.desk-nav ul li{float: none;display: inline-block;vertical-align: top;margin: 0px 18px 0px 18px;text-transform: capitalize; box-sizing: border-box;}
.desk-nav ul li:first-child {margin-left: 0;}
.desk-nav ul li:last-child {margin-right: 0;}
.desk-nav ul li a{color: #fff;box-sizing: border-box;float: none;display: inline-block;vertical-align: top;font-weight: 600;font-size: 14px;line-height: 22px;padding: 20px 0;box-sizing: border-box;}
.desk-nav ul li a:hover{color:red;}
.header_bottom {	float: left;	width: 100%;	background: #03173c;	padding: 0px 0;}
.mob-nav{display: none;}
nav#menu{display: none;}
header.sticky{position: fixed;z-index: 99999;background: #fff;top: 0;   -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);padding: 0;font-size: 0;-webkit-animation: fadeInDown 1s both;
animation: fadeInDown 1s both;}
header.sticky .header_top{display: none;}
footer {    float: left;    width: 100%;    background:#03173c;;    color: #fff;position: relative;border-bottom: 1px solid #9aa2b1;}
footer:before{position: absolute;content: '';width: 100%; background:url(../images/footer_bg.png) center center repeat-x;height: 28px;left: 0;top: 0;}
.footer_inner{float: left;width: 100%;padding:55px 0;margin-top: 28px;}
.clmn_1.column {    width: 98px;}
.column {    float: left;    margin-right: 72px;text-align: left;}
.column:last-child{margin-right: 0;}
.clmn_2.column {    width: 117px;}
.clmn_3.column {    width: 191px;}
.clmn_4.column {    width: 184px;}
.clmn_5.column {    width: 118px;}
.clmn_6.column {    width: 97px;}
.footer_top {	float: left;	width: 100%;	margin-bottom: 50px;}
.footer_top h4{float: left;width: 100%;text-align: left;font-weight: 700;color: #42aac0;text-transform: uppercase;font-size: 14px;line-height: 22px;margin-bottom: 25px; min-height:44px; }
.column a {    font-size: 13px;    line-height: 26px;    color: #fff;}
.column li {float: left;    width: 100%;margin-bottom: 7px;}
.column a:hover{    color: #ae3148;}
.footer_btm {    float: left;    width: 100%;margin-bottom: 30px;}
.bbb_logo {    float: none;    display: inline-block;    vertical-align: middle;    margin-right: 106px;}
.social_sec {	float: none;	display: inline-block;	vertical-align: middle;}
.social_sec ul {	float: left;	width: auto;}
.social_sec li:first-child {	margin-left: 0;}
.social_sec li {	float: none;	display: inline-block;	vertical-align: middle;	margin-left: 11px;}
.social_sec li a:hover{opacity: 0.6;}
.copyright{width: 100%;    text-align: center;}
.copyright p{font-size: 13px;line-height: 26px;color: #68748a;}
.home_inner {	float: left;	width: 100%; margin-bottom: 54px}
.homepage-banner {    float: left;    width: 100%;}
#banner{    float: left;    width: 100%; -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow:    0px 13px 16px 0px rgba(0, 0, 0, 0.1);
box-shadow:         0px 13px 16px 0px rgba(0, 0, 0, 0.1);   }
.banner_cnt {    float: left;    width: 100%;}
#banner li {    float: left;    width: 100%;background-repeat: no-repeat;
background-position: center top;background-size: cover;}
.banner_cnt {    float: right;    width:892px;    margin-top: 116px;  }
.banner_text{font-family: 'Poppins', sans-serif;color: #fff;font-size: 49px;text-align: left;float: left;width: 100%;position: relative;padding-left: 37px;margin-bottom: 80px;overflow: hidden;}
.banner_text:before{position: absolute;content: '';background: url(../images/banner_bg.png) left top no-repeat;top: 5px;left: 0px;width: 24px;height:38px;}
.banner_text:after{position: absolute;content: '';border-left: 3px solid #fff; top: 40px;left:22px;height: 100%;}
.banner_link{float: right;margin-bottom: 42px;}
.banner_btm_link {	float: left;	width: auto;}
.banner_btm_link a {position: relative;	padding: 16px 38px 16px 22px;	float: left;	border-radius: 3px;	border: 1px solid #bfc0c6;	color: #fff;	font-weight: 700;	font-size: 17px;	line-height: 23px;box-sizing: border-box;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#243757+0,1e4164+22,096791+74,0175a1+100 */
background: #243757; /* Old browsers */
background: -moz-linear-gradient(top, #243757 0%, #1e4164 22%, #096791 74%, #0175a1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #243757 0%,#1e4164 22%,#096791 74%,#0175a1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #243757 0%,#1e4164 22%,#096791 74%,#0175a1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243757', endColorstr='#0175a1',GradientType=0 ); /* IE6-9 */}
.banner_btm_link a:after{position: absolute;content: '';background: url(../images/btn_bg.png) center center no-repeat;width: 8px;height: 14px;top: 41%;right: 22px;}
.banner_link .banner_btm_link:first-child{margin-right: 12px;}
.banner_btm_link a:hover{background: #ae3148;}
.banner_btm_sec {	float: left;	width: 100%;	background: #ae3148;	padding:30px 0 35px;box-sizing: border-box;margin-bottom: 95px;}
.banner_btm_sec h2{font-size: 30px;line-height: 40px;color: #fff;font-family: 'Poppins', sans-serif;font-weight: 600;width: 700px;float: none;display: inline-block;}
.video_sec {	float: left;	width: 100%;	margin-bottom: 106px;}
.video_lft{float: left;    width: 634px;}
.video_rgt{float: right;width: 452px;}
.video{padding: 20px;float: left;background: #333333;border-radius: 8px;-webkit-box-shadow: 0px 31px 62px 0px rgba(0, 0, 0, 0.55);
-moz-box-shadow:    0px 31px 62px 0px rgba(0, 0, 0, 0.55);
box-shadow:         0px 31px 62px 0px rgba(0, 0, 0, 0.55);width: 100%}
.video_rgt h3{    float: left;    width: 100%;    font-weight: 600;    font-size: 30px;    margin-bottom: 27px;    text-align: left;}
.video_txt{float: left;width: 100%;}
.video_rgt .video_txt p{float: left;width: 100%;text-align: left;    font-size: 15px;    line-height: 26px;    margin-bottom: 25px;}
.video_rgt a{float: left;    width: 100%;    text-align: left;    color: #ae3148;    font-size: 14px;    line-height: 29px;font-weight: 600;}
.video_rgt a:hover{color: #03173c}
.home_middle_sec {	float: left;	width: 100%;	margin-bottom: 75px;}
.home_middle_top_sec {	float: left;	width: 100%;	background: #ebedf1;}
.middle_left{float: left;padding: 45px 0 25px 20px;box-sizing: border-box;width: 594px;}
.middle_left h3 {	float: left;	width: 100%;	text-transform: uppercase;	font-size: 30px;	font-weight: 700;	margin-bottom: 14px;	text-align: left;}
.middle_left h5 {	float: left;	width: 100%;	text-align: left;	font-weight: 600;	color: #464748;	font-size: 20px;	margin-bottom: 30px;}
.middle_left ul{float: left;width: 100%;text-align: left;}
.middle_left ul li{float: left;width: 100%;position: relative;padding-left: 22px;box-sizing: border-box;font-size: 16px;line-height: 24px;color: #464748;margin-bottom: 8px;}
.middle_left ul li:before{position: absolute;content: '';background:url(../images/right.png) left center no-repeat;left: 0;top:5px;width: 13px;height: 11px;}
.middle_rgt{float: right;width: 487px;position: relative;}
.middle_rgt figure {    position: absolute;    left: 73px;    top: -40px;z-index: 9}
.home_middle_bottom_sec {	float: left;	width: 100%;	background: #0076a3;	color: #fff;	padding: 13px 0 20px;	box-sizing: border-box;	text-align: left;position: relative;overflow: hidden;}
.home_middle_bottom_sec h4{padding-left: 20px;box-sizing: border-box;font-size: 20px;font-weight: 600;text-transform: uppercase;width: 100%;position: relative;z-index: 9}
.home_middle_bottom_sec:after{content: '';position: absolute;background:url(../images/middle_bg.png)center center no-repeat;width: 1400px;height: 53px;right: -200px;top:0px;}
.middle_text{position: relative;float: left;width: 100%;}
.testimonial_sec {	float: left;	width: 100%;	margin-bottom: 64px;}
.title {	float: left;	width: 100%;	font-size: 28px;	font-weight: 700;	line-height: 35px;position: relative;margin-bottom: 35px;}
.title span:before{position: absolute;content: '';width:209px;border:1px solid #000;top: 50%;left: 255px}
.title span{float: none;text-align: center;width: auto;display: inline-block;vertical-align: top;padding: 0 30px;box-sizing: border-box;}
.title span:after{position: absolute;content: '';width:209px;border:1px solid #000;top: 50%;right: 255px}
#testimonial{float: left;width: 100%;padding: 0 115px;box-sizing: border-box;}
#testimonial li {    float: left;    width: 100%;text-align: center;}
.testimonial_txt {	font-size: 16px;	line-height: 29px;	color: #333333;	font-style: italic;margin-bottom: 30px;position: relative;padding-top: 43px;}
.testimonial_txt:before{position: absolute;content: '';background: url(../images/quote.png) center top no-repeat;height: 22px;width: 31px;top: 0}
.client_name {	float: left;	width: 100%;	text-align: center;}
.client_name h4{color: #ae3148;font-weight: 600;font-size: 16px;line-height: 22px;}
.client_name p{font-size: 14px;color: #7f7f7f;line-height: 24px;}
#testimonial .owl-dot{font-size: 0;width: 10px;height: 10px;background: #cccccc;border-radius: 50%;float: none;display: inline-block;margin-right: 20px}
#testimonial .owl-dot.active{background:#ae3148}
#testimonial .owl-dots{float: left;width: 100%;margin-top: 40px}
#testimonial .owl-dot:last-child{margin-right: 0}
.home_btm_sec {	float: left;	width: 100%;}
.home_btm_left {	float: left;	width: 640px;border: 3px solid #e2e2e2;border-radius: 4px;padding: 28px 40px;box-sizing: border-box;}
.home_btm_rgt{float: right;width: 480px;border: 3px solid #e2e2e2;border-radius: 4px;padding: 28px 40px;text-align: center;}
.home_btm_sec h2{float: left;width: 100%;font-size: 26px;font-weight: 600;text-align: left;margin-bottom: 20px;}
.home_btm_sec .content {    float: left;    width: 100%;    color: #4e4e4e;    text-align: left;    font-size: 15px;    line-height: 26px;}
.home_btm_sec .content p{margin-bottom: 22px;float: left;width: 100%;}
.home_btm_sec a {    float: left;    width: 100%;    text-align: left;    color: #ae3148;    font-size: 14px;    line-height: 29px;    font-weight: 600;}
.home_btm_sec a:hover{color: #03173c}
.home_btm_rgt h2{text-align: center;margin-bottom: 14px;}
.home_btm_rgt figure{float: none;display: inline-block;text-align: center;width: 100%;}
.home_btm_rgt figure span{float: none;display: inline-block}
.home_btm_rgt .content{text-align: center;margin-top: 22px;}
.desk-nav ul.sub-menu{display: none;}
.desk-nav ul li:hover ul {    display: block;    border-bottom: 4px solid #03173c;    padding: 0 0 10px;    box-sizing: border-box;}
.desk-nav ul li ul {    background: #fff;    display: none;    left: 0;    position: absolute;    top: 100%;    width: 190px;    z-index: 99999;    padding: 5px 0 0;}
.desk-nav ul li {    position: relative;}
.desk-nav ul li ul li {    float: left;    width: 100%;    margin: 0;    padding: 0;}
.desk-nav ul li ul li a{padding:10px 5px 0 15px;color: #000;box-sizing: border-box;text-align: left;width: 100%;}
.desk-nav ul li ul li a:hover{color: red;}
.inner_image_sec {	float: left;	width: 100%;margin-bottom: 33px;}
.inner_banner {	float: left;	width: 100%;}
.inner_banner .banner_cnt {	width: 621px;	margin-top: 116px;}
.breadcrumbs {	float: left;	width: 100%;margin-bottom: 30px;text-align: left;}
.breadcrumbs  span a {	color: #ae3148;	font-size: 13px;	line-height: 26px;	padding-right: 16px;position: relative;margin-right: 11px;}
.breadcrumbs  span a:after{position: absolute;content: '';background: url(../images/bread_bg.png) center center no-repeat; right: 0;top: 6px;width: 5px;height: 10px;}
.breadcrumbs span {	float: none;	display: inline-block;	vertical-align: top !important;font-size: 13px;	line-height: 26px;}
.current-item{color: #414141;}
.breadcrumbs  span a:hover{color:#000}
.inner_page {	float: left;	width: 100%;margin-bottom: 40px;}
.left_sec {	float: left;	width: 232px;}
.top_left {	float: left;	width: 100%;	text-align: left;	border: 1px solid #e2e2e2;	border-radius: 5px;	padding: 16px 10px 12px;-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.3);box-sizing: border-box;}
.heading {	float: left;	width: 100%;	font-weight: 600;	font-size: 20px;	margin-bottom: 14px;}
.top_left  a{font-size: 14px;color: #26385a;text-transform: capitalize;font-weight: 600;width: 100%;float: left;padding-left: 10px;box-sizing: border-box;}
.top_left li:last-child a{border-bottom: none;}
.top_left  a:hover{color:#ae3148;}
.rgt_sec {	float: right;	width: 900px;	text-align: left;color: #333333;font-size: 15px;line-height: 26px;}
.rgt_sec h1 {	float: left;	width: 100%;	margin-bottom: 20px;	font-weight: 600;	font-size: 30px;line-height: 30px;}
.inner_video_sec {	float: left;	width: 100%;margin-bottom: 35px;}
.left_video_sec {	float: left;	width: 315px;margin-right: 70px;}
.rgt_video_sec {	float: left;	width: 514px;}
.video iframe{width: 100% !important}
.rgt_sec .left_video_sec p{float: left;width: 100%;margin-bottom: 35px;}
.inner_page ul{float: left;width: 100%;}
.inner_page .rgt_sec ul li{float: left;width: 100%;position: relative;padding-left: 21px;margin-bottom: 10px;}
.inner_page .rgt_sec ul li:before{position: absolute;content: '';left: 0;top:11px;background:url(../images/ul_bg.png)center center no-repeat;width: 5px;height: 7px;}
.btm_cnt{float: left;width: 100%;}
.rgt_sec p{float: left;width: 100%;margin-bottom: 20px;}
.rgt_sec a{color:#ae3148 }
.rgt_sec a:hover{color:#000 }
.rgt_sec h2{float: left;width: 100%;font-size: 19px;font-weight: 600;color: #333;margin-bottom: 20px;}
.btm_cnt ul{margin-bottom: 15px;}
.rgt_sec p b{font-weight: 600;}
.rgt_sec p.conatct_info{color: #ae3148;font-weight: 600;}
.rgt_video_sec .video{padding: 10px 10px 5px 10px;box-sizing: border-box;}
.rgt_video_sec .video iframe{height: 278px;}
.btm_left{	float: left;	width: 232px;border: 1px solid #e2e2e2;border-radius: 5px;padding: 16px 15px 12px;-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);box-sizing: border-box;text-align: left;margin-top: 22px;clear: left;}
.btm_left #testimonial{padding: 0}
.btm_left .testimonial_txt::before{left: 0}
.btm_left .testimonial_txt p{text-align: left;}
.btm_left .client_name{text-align: left;}
.btm_left .testimonial_txt{font-size: 13px;line-height: 19px;}
.btm_left .client_name p {	font-size: 12px;	line-height: 18px;}
.btm_left #testimonial .owl-dots{text-align: center;}
.btm_left .client_name h4{margin-bottom: 4px;}
.btm_left #testimonial .owl-dots{margin-top: 30px;margin-bottom: 10px;}
.heading.mobile{display: none;}
.table-area {	float: left;	width: 100%;}
.table-area .image:nth-child(4n+1) {	clear: left;}
.table-area .image {	float: left;	width: 170px;}
.table-area .image figure {	float: left;	width: 100%;}
.table-area .image span {	width: 100%;	display: table;	table-layout: fixed;	vertical-align: middle;	text-align: center;}
.table-area .image a {width: 100%;	display: table-cell;	height: 100px;	vertical-align: middle;	text-align: left;}
.team_img{float: left;padding: 0 10px 10px 0;}
.testi-separator {	border-top: 1px solid #000000;	float: left;	width: 100%;}

.international{width:100%;float: left;margin-top: 20px;}
.international-left{width:250px;float: left;}
.international-right{width: 650px;float: left;}
.btm_cnt h1{float: left;width: 100%;margin-bottom: 20px;font-weight: 600;font-size: 30px;text-align: left;color: #333333;line-height: 26px;}
.btm_cnt p{width: 100%;float: left;text-align: left;font-size: 15px;color: #333333;margin-bottom: 20px;line-height: 26px;}

.top_left ul li{width: 100%;float: left;line-height: 21px;padding-bottom: 5px;border-bottom: 1px solid #e2e2e2;padding-top: 5px;}
.top_left ul li:last-child{border-bottom: none;}

.heading.desktop span{line-height: 23px;}

.banner_text p{text-shadow:2px 1px #000;}
.copyright a{color:#fff;}


.contact-sec {

    width: 550px;
    float: left;
    text-align: left;
    background: #e8e8e8;
    padding: 30px;

}

.contact-details {

    width: 500px;
    float: right;

}
.contact-sec .field-lft {

    width: 100%;

}
.field-lft {

    float: none;
    text-align: center;
    display: inline-block;
    width: 402px;
    margin-right: 20px;
    vertical-align: top;

}
.form-row {

    float: left;
    width: 100%;

}
.form-row label {

    float: left;
    width: 100%;

}
.wpcf7-form-control-wrap {

    position: relative;

}
.contact-sec .field-lft input {

    border: 1px solid #ccc;
    font-size: 15px;

}
body input[type="text"], body input[type="password"], body input[type="tel"], body input[type="number"], body input[type="email"] {

    border-color: #d1d1d1;
    background: #fdfdfd;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #929292;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
    height: 40px;

}
.field-lft input {

    float: left;
    width: 100%;
    font-size: 15px;
    height: 52px;
    border: 1px solid #e2e2e2;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.contact-sec .field-rgt textarea {

    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
    color: #929292;

}
.field-rgt textarea {

    float: left;
    width: 100%;
    font-size: 15px;
    height: 179px;
    border: 1px solid #e2e2e2;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 15px;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 15px;

}
textarea:focus {

    border-color: #d1d1d1 !important;
    box-shadow: none !important;

}
textarea:focus {

    box-shadow: none;
    outline: none;

}
.field-rgt .submit-sec input[type="submit"] {

    margin-top: 15px;
    float: left;
    width: auto;
    cursor: pointer;
    font-weight: 600;

}
input[type="submit"] {

    background-color: #03173c !important;
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-radius: 0 !important;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 6px 22px;
    margin-top: 10px;

}
.contact-details h4{width: 100%;

float: left;

color: #4c4c4c;

font-weight: 700;

font-size: 20px;

text-align: left;
margin-bottom:15px;
text-transform: uppercase;}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{display:none!important;}
div.wpcf7-response-output{display:none!important;}
.contact-details a{color: #ae3148;}
span.wpcf7-not-valid-tip{width:100%;float:left;text-align: left;

font-size: 13px!important;



margin-bottom: 5px;}

.banner-2 .banner_cnt{width:100%;}
.banner-4 .banner_cnt{width:100%;}
